*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

#page-wrap {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    background-color: blanchedalmond;
}

header {
    display: flex;
    flex-direction: column;
    background-color: darkolivegreen;
    padding: 2vh 2vw;
}

#primary-content p {
    padding-top: 0.5vh;
}

nav {
    width: 100%;
    height: 100vh;
    background-color: burlywood;
}

nav ul {
    display: flex;
    flex-direction: column;
    padding: 1vh 0 0;
}

nav li {
    list-style: none;
    padding: 1.5vh 2vw;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: darkslategrey;
}

main {
    width: 70%;
    padding: 1vh 1vw;
}

footer {
    padding: 1vh 1vw;
    background-color: darkolivegreen;
    width: 100%;
}

#label-and-input {
    display: block;
}

#two_columns {
    display: flex;
    flex-direction: row;
}

#nav-wrap {
    background-color: red;
    display: flex;
    flex-direction: column;
    /*height: 100vh;*/
}

#test {
    flex: 25%;
}

#sidebar {
    background-color: burlywood;
}

#column-left {
    flex: 25%;
    height: 100vh;
    align-items: stretch;
}

#column-right {
    flex: 75%;
    margin: 0 1vw;
    /*background-color: red;*/
}

#image {
    display: flex;
}

.school-info, .work-experience, .extra-experience,
.grouped-content
{
    margin: 2vw 0;
}

.grouped-content-flex {
    margin: 2vw 0;
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;
}

.title-subtitle {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.occupation {
    padding-left: 1vw;
    font-size: calc(12px + 0.4vw);
}

.year-range {
    padding-left: 0.7vw;
    font-size: calc(12px + 0.4vw);
}

.subjects {
    margin-top: 0.5vw;
}

.school-name, .sub-topic {
    margin-bottom: 0.25vw;
    color: darkolivegreen;
}

img {
    width: 50%;
    height: 50%;
    margin: 1.5vw auto;
    align-self: center;
    border: 5px solid darkslategrey;
}

.body-text {
    margin-bottom: 1vw;
}

a {
    text-decoration: none;
    color: darkolivegreen;
}

h1, header p, footer p {
    color: beige;
}

h2 {
    margin: 1vw 0;
    font-size: calc(15px + 0.7vw);
}

h3 {
    font-size: calc(14px + 0.5vw);
}

h4 {
    margin: 2vw 0 0;
    font-size: calc(12px + 0.4vw);
}

p, li, td, label {
    font-size: calc(11px + 0.4vw);
}

#credits {
    text-decoration: underline;
    color: beige;
}

th, td {
    padding: 0 1vw;
    text-align: left;
}

.code {
    width: 10%;
}

.class-name {
    width: 40%;
}

.skills {
    width: 50%;
}

.portfolio {
    width: 70%;
    margin: 1vw 1vh;
}


/* Media Queries: CSS only applied to mobile devices */
@media screen and (max-width: 768px) {
    header, #primary-content {
        align-items: center;
    }

    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
    }

    nav li {
        text-align: center;
        border-top: 0.25vw solid black;
        border-left: 0.25vw solid black;
        border-bottom: 0.25vw solid black;
        align-content: center;
        padding: 2vh 1vw;
    }

    #two_columns {
        flex-direction: column;
        width: 100%;
    }

    #page-wrap {
        width: 100%;
    }

    main {
        width: 100%;
    }

    #primary-content {
        height: 100vh;
    }

    h1, h2, h3, h4, h5, h6, p, #label-and-input, #label-and-output  {
        text-align: center;
    }

    #buttons {
        margin: auto;
        width: 30%;
        align-self: center;
    }

    #sidebar {
        background-color: white;
        display: flex;
        flex-direction: column;
    }
}