*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

#page-wrap {
    width: 70%;
    margin: 0 auto;
    background-color: blanchedalmond;
}

header {
    display: flex;
    flex-direction: column;
    background-color: darkolivegreen;
    padding: 2vh 2vw;
}

h1, header p, footer p {
    color: beige;
}

#primary-content p {
    padding-top: 0.5vh;
}

h4 {
    margin: 2vw 0 0;
}

nav {
    width: 30%;
    height: 100vh;
    background-color: burlywood;
}

nav ul {
    display: flex;
    flex-direction: column;
    padding: 1vh 0 0;
}

nav li {
    list-style: none;
    padding: 1.5vh 2vw;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: darkslategrey;
}

main {
    width: 70%;
    padding: 1vh 1vw;
}

footer {
    padding: 1vh 1vw;
    background-color: darkolivegreen;
    width: 100%;
}

#label-and-input {
    display: block;
}

#two_columns {
    display: flex;
    flex-direction: row;
}

#column-left {
    flex: 25%;
    /*margin: 1vh;*/
}

#column-right {
    flex: 75%;
    margin: 0 1vw;
}

#image {
    display: flex;
}

.school-info, .work-experience, .extra-experience,
.grouped-content
{
    margin: 2vw;
}

.subjects {
    margin-top: 0.5vw;
}

.school-name, .sub-topic {
    margin-bottom: 0.25vw;
    color: darkolivegreen;
}

img {
    width: 50%;
    height: 50%;
    margin: 1.5vw auto;
    align-self: center;
    border: 5px solid darkslategrey;
}

.body-text {
    margin-bottom: 1vw;
}

a {
    text-decoration: none;
    color: darkolivegreen;
}

h2 {
    margin: 1vw 0;
}

#credits {
    text-decoration: underline;
    color: beige;
}

/* Media Queries: CSS only applied to mobile devices */
@media screen and (max-width: 768px) {
    header {
        align-items: center;
    }

    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
    }

    nav li {
        text-align: center;
        border-top: 0.25vw solid black;
        border-left: 0.25vw solid black;
        border-bottom: 0.25vw solid black;
        align-content: center;
        padding: 2vh 1vw;
    }

    #two_columns {
        flex-direction: column;
        width: 100%;
    }

    #page-wrap {
        width: 100%;
    }

    main {
        width: 100%;
    }

    #primary-content {
        height: 100vh;
    }
}