*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

#page-wrap {
    width: 70%;
    margin: 0 auto;
    background-color: blanchedalmond;
}

header {
    display: flex;
    flex-direction: column;
    background-color: darkolivegreen;
    padding: 1vw 1vh;
}

h1, header p {
    color: beige;
}

h4 {
    margin: 2vh 0 0;
}

nav {
    width: 30%;
}

nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

nav li {
    list-style: none;
    background-color: burlywood;
    padding: 1vw;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: darkslategrey;
}

main {
    width: 70%;
    height: 100vh;
    margin: 1vh;
}

footer {
    padding: 1vh 1vw;
    background-color: burlywood;
    width: 100%;
}

#label-and-input {
    display: block;
}

#two_columns {
    display: flex;
    flex-direction: row;
}

#column-left {
    flex: 25%;
    /*margin: 1vh;*/
}

#column-right {
    flex: 75%;
}

/* Media Queries: CSS only applied to mobile devices */
@media screen and (max-width: 768px) {
    header {
        align-items: center;
    }

    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav li {
        text-align: center;
        border-top: 0.25vw solid black;
        border-left: 0.25vw solid black;
        border-bottom: 0.25vw solid black;
        align-content: center;
    }

    main {
        width: 100%;
    }

    #two_columns {
        flex-direction: column;
        width: 100%;
    }

    #page-wrap {
        width: 100%;
    }
}